body {
    background-color: white;
}

img {
    width: 190px;   
}

div {
    width: 600px;            /*defini a largura do conteudo de div */
    margin: 0 auto;          /*com "0" defini a margem superior e inferior valor 0 e "auto" margens dir e esq automaticas*/
    text-align: center;      /* "center" deixou todo o conteúdo das tags div no centro (incluindo a imagem)*/ 
}
   
h1 {
    border: 5px solid black; /* OBS Lembrar de não colocar virgula entre os valores*/
    font-size: 24px;
    font-family: Verdana;
    color: #606062;
    padding: 10px;
}

h2 {
    font-size: 20px;
    font-family: Verdana;
    color: #7a797b;
    margin: 35px 20px;
}

h3 {
    font-size: 20px;
    font-family: Verdana;
    color: #7a797b;
    border-top: 2px solid #7a797b;
    border-bottom: 2px solid #7a797b;
}





  